<h1>Products</h1>
<%= link_to "New product", "/products/new" %>

<ul>
<% @products.each do |product| %>
	<li> <%= link_to product.name, product %> </li>
	<li> <%= product.description %> </li>
	<li> <%= product.formatted_price %> </li>
<% end %>
</ul>