<!DOCTYPE html>
<html class = 'landing-page'>
<head>
	<title>Rainforest</title>
	<%= stylesheet_link_tag "static" %>
</head>
<body>
	<div id = "container">
		<h1>Welcome to Rainforest. Amazon sucks!<h1>
		<%= yield %>
	</div>
</body>
</html>